<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>entreprise</h4>
                <ul>
                    <li><a routerLink="apropos">à propos de nous</a></li>
                    <li><a routerLink="events">Nos services</a></li>
                    <li><a routerLink="personne">Hervé Bamana</a></li>
                    <li><a routerLink="">politique de confidentialité</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Obtenir de l'aide</h4>
                <ul>
                    <li><a routerLink="">FAQ</a></li>
                    <li><a routerLink="livraison">expédition</a></li>
                    <li><a routerLink="contact">Nous contacter</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>magasin en ligne</h4>
                <ul>
                    <li><a routerLink="magasin">Mixte</a></li>

                    <li><a routerLink="magasin">Collection pour enfant</a></li>
                    <li><a routerLink="magasin">Collection pour Femme</a></li>
                    <li><a routerLink="magasin">Collection pour Homme</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Suivez-nous</h4>
                <div class="social-links">
                    <a routerLink=""><i class="fab fa-facebook-f"></i></a>
                    <a routerLink=""><i class="fab fa-twitter"></i></a>
                    <a routerLink=""><i class="fab fa-instagram"></i></a>
                    <a routerLink=""><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://wa.me/message/ZDTML6ZAXXDEF1"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>