<!-- <div class="container">
    <div class="d-flex justify-content-center align-items-center ">
        <div class="section-heading">

            <h4>LA GAMME <em>HBLUX</em></h4>
        </div>
    </div>
</div>

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img width="40%" src="../../../../../assets/images/logo.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6>HB LUX RENOVATION</h6>
                                    <h2>Nous redonnons vie à votre demeure</h2>
                                    <p>HBLUX RENOVATION est un service de HBLUX dont l'objet est de donner une seconde vie à vos maisons, appartements, cuisines et tout ce qui va avec.
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="border-first-button scroll-to-section">
                                        <a (click)="lirePlus('renovation')">Plus d'infos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6>HBLUX Boutique</h6>
                                    <h2>Lorem ipsum dolor sit amet.</h2>
                                    <p>HBLUX RENOVATION est un service de HBLUX dont l'objet est de donner une seconde vie à vos maisons, appartements, cuisines et tout ce qui va avec.
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="border-first-button scroll-to-section">
                                        <a (click)="lirePlus('magasin')">Plus d'infos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img width="40%" src="../../../../../assets/images/logo.jpg" alt="">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img width="40%" src="../../../../../assets/images/events.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6>HBLUX EVENTS</h6>
                                    <h2>Lorem ipsum, dolor sit amet adipisicing.</h2>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam. Reiciendis repellat cumque pariatur! Cum porro quam odit assumenda! Quo dolore laudantium voluptatum eaque minus alias itaque saepe. Accusantium dolore
                                        voluptatem iure. Veritatis ea aliquid repellendus accusantium.
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="border-first-button scroll-to-section">
                                        <a (click)="lirePlus('event')">Plus d'infos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
 -->
<div class="container">
    <section id="values" class="values">
        <i class="bi bi-list mobile-nav-toggle"></i>
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>HBLUX </h2>
                <p>LA GAMME HBLUX</p>
            </header>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="../../../../../assets/images/cart.png" class="img-fluid" alt="">
                        <h3>HBLUX BOUTIQUE</h3>
                        <p>Contenant des articles de qualité, <strong>HBLUX Boutique</strong> mets à votre disposition sa toute nouvelle collection</p>
                        <div class="border-first-button scroll-to-section">
                            <a class="btn  text-white m-2 p-2 btn-dark " (click)="lirePlus('magasin')">Entrer au magasin </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <img style="border-radius:4rem;" src="../../../../../assets/images/cuisine500.jpg" class="img-fluid" alt="">
                        <h3>HBLUX RENOVATION</h3>
                        <p>
                            Faisant partie de la gmame Hblux , celle ci s’occupe de vos maisons , Confiez la rédaction de vos contenus immobilier à nos rédacteurs
                            <br> Profitez de l'expertise de notre équipe et du savoir-faire de nos rédacteurs professionnels spécialisés pour faire rédiger vos contenus immobilier, rapidement et sans effort.
                        </p>
                        <div class="border-first-button scroll-to-section">
                            <a class="btn  text-white m-2 p-2 btn-dark " (click)="lirePlus('renovation')">Découvrir HBLUX Rénovation </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box">
                        <img src="../../../../../assets/images/events.jpeg" class="img-fluid" alt="">
                        <h3>HBLUX EVENTS</h3>
                        <p>
                            Faisant partie de la gamme HBLUX, HBLUX EVENT est basé uniquement sur l’actualité congolaise et mondiale, axé sur la Music, le sport ,la mode, le buzz et les célébrités.
                        </p>
                        <div class="border-first-button scroll-to-section">
                            <a class="btn  text-white m-2 p-2 btn-dark " (click)="lirePlus('event')">Découvrir HBLUX Events </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
</div>