<div class="container">

    <div class="d-flex justify-content-start align-items-lg-baseline">
        <div class="container mt-3">
            <header class="section-header">
                <h2> </h2>
                <p>A PERCU DU MAGASIN </p>
            </header>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
                <header class="section-header">
                    <h2> </h2>
                    <p style="font-size: 2rem;">Ensemble Jogging</p>
                </header>

                <div class="title-link">
                    <a style="text-decoration: none; font-size: 2rem; color: black;" routerLink="magasin">Entrer au magasin <span> <i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="hblux-card-box-d">
                <div class="hblux-card-img-d">
                    <img src="../../../../../assets/images/image7.jpeg" alt="" class="img-d img-fluid">
                </div>
                <div class="hblux-card-overlay hblux-card-overlay-hover">
                    <div class="hblux-card-header-d">
                        <div class="hblux-card-title-d align-self-center">
                            <h3 class="title-d">
                                <a routerLink="magasin" class="link-two ">Ensemble Jogging</a>
                            </h3>
                        </div>
                    </div>
                    <div class="hblux-card-body-d">
                        <p class="content-d text-white">
                            CompositionCouche extérieure: <strong> Coton 60%,Polyester 40%</strong> Doublure de capuche: <strong> Coton 60%, Polyester 40%.</strong>
                        </p>

                    </div>
                    <div class="hblux-card-footer-d">
                        <div class="socials-footer d-flex justify-content-center">

                            <div class="d-flex justify-content-around align-items-center flex-row">
                                <span class="mx-3  btn-sm  likes"> 254 <i class="btn fa fa-heart" aria-hidden="true"></i> </span>
                                <span class="prix mx-3"> $45 </span>
                                <a (click)="acheterpanier()" class="btnpanier"> Ajouter au panier <i style="font-size: 1.6rem;" class=" fa fa-shopping-cart" aria-hidden="true"></i>   </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hblux-card-box-d">
                <div class="hblux-card-img-d">
                    <img src="../../../../../assets/images/image6.jpeg" alt="" class="img-d img-fluid">
                </div>
                <div class="hblux-card-overlay hblux-card-overlay-hover">
                    <div class="hblux-card-header-d">
                        <div class="hblux-card-title-d align-self-center">
                            <h3 class="title-d">
                                <a routerLink="magasin" class="link-two">Ensemble Jogging</a>
                            </h3>
                        </div>
                    </div>
                    <div class="hblux-card-body-d">
                        <p class="content-d text-white">
                            CompositionCouche extérieure: <strong> Coton 60%,Polyester 40%</strong> Doublure de capuche: <strong> Coton 60%, Polyester 40%.</strong>
                        </p>

                    </div>
                    <div class="hblux-card-footer-d">
                        <div class="socials-footer d-flex justify-content-center">

                            <div class="d-flex justify-content-around align-items-center flex-row">
                                <span class="mx-3  btn-sm  likes"> 254 <i class="btn fa fa-heart" aria-hidden="true"></i> </span>
                                <span class="prix mx-3"> $45 </span>
                                <a (click)="acheterpanier()" class="btnpanier"> Ajouter au panier <i style="font-size: 1.6rem;" class=" fa fa-shopping-cart" aria-hidden="true"></i>   </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hblux-card-box-d">
                <div class="hblux-card-img-d">
                    <img src="../../../../../assets/images/image8.jpeg" alt="" class="img-d img-fluid">
                </div>
                <div class="hblux-card-overlay hblux-card-overlay-hover">
                    <div class="hblux-card-header-d">
                        <div class="hblux-card-title-d align-self-center">
                            <h3 class="title-d">
                                <a routerLink="magasin" class="link-two">Ensemble Jogging</a> </h3>
                        </div>
                    </div>
                    <div class="hblux-card-body-d">
                        <p class="content-d text-white">
                            CompositionCouche extérieure: <strong> Coton 60%,Polyester 40%</strong> Doublure de capuche: <strong> Coton 60%, Polyester 40%.</strong>
                        </p>

                    </div>
                    <div class="hblux-card-footer-d">
                        <div class="socials-footer d-flex justify-content-center">

                            <div class="d-flex justify-content-around align-items-center flex-row">
                                <span class="mx-3  btn-sm  likes"> 254 <i class="btn fa fa-heart" aria-hidden="true"></i> </span>
                                <span class="prix mx-3"> $45 </span>
                                <a (click)="acheterpanier()" class="btnpanier"> Ajouter au panier <i style="font-size: 1.6rem;" class=" fa fa-shopping-cart" aria-hidden="true"></i>   </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" ">
    <div class="row">

        <div class="col-md-12 ">
            <div class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 ">
                            <div class="d-flex justify-content-center align-items-center flex-column ">
                                <div class="d-flex justify-content-around align-items-center">
                                    <img style="position: relative;" src="../../../../../assets/images/image5.jpeg" style="width:55%" />
                                </div>


                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="d-flex justify-content-center align-items-center flex-column home-magasin">
                                <p class="pt-5 mt-5">
                                    <strong class="pt-5">
                              Sweat en molleton de coton mélangé.
                              <br> Coupe décontractée avec capuche doublée resserrable par cordon, manches longues et poche kangourou.
                              <br> Finition bord-côte aux poignets et à la base. Intérieur doux et brossé.
                           </strong>
                                </p>
                                <p>


                                </p>

                                <div class="d-flex justify-content-around align-items-center flex-row">
                                    <span class="mx-3  btn-sm  likes"> 254 <i class="btn fa fa-heart" aria-hidden="true"></i> </span>
                                    <span class="prix mx-3"> $45 </span>
                                    <a (click)="acheterpanier()" class="btnpanier"> Ajouter au panier <i style="font-size: 1.6rem;" class="text-primary fa fa-shopping-cart" aria-hidden="true"></i>   </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12 mt-3"> </div>

    </div>

</div>