<nav class="nav navbar  navbar-expand-lg navbar-dark p-md-3">
    <div class="container">

        <div class="row">
            <div class="nav-col">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mx-auto"></div>
                    <ul class="navbar-nav ">
                        <li class="nav-item mx-2" routerLinkActive="active"><a routerLink="home">Accueil</a></li>
                        <li class="nav-item mx-2" routerLinkActive="active"><a routerLink="magasin">Magasin</a></li>
                        <li class="nav-item mx-2 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">
              Gamme HBLUX
            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown07">
                                <li>
                                    <a class="dropdown-item text-dark" routerLink="magasin">Hblux boutique
                </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" routerLink="renovation">Hblux Rénovation
                </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" routerLink="events">Hblux Events
                </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item text mx-2 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">
              Plus
            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown07">
                                <li>
                                    <a class="dropdown-item text-dark" routerLink="apropos">A propos
                </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" routerLink="personne">Hervé Bamana
                </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" routerLink="contact">Nous contacter
              </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" routerLink="newarticle">New article
            </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" routerLink="addphoto">New Photo
          </a>
                                </li>

                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="navbar-brand">

            <div class="d-flex flex-row justify-content-center align-items-center">
                <div>
                    <app-panier></app-panier>
                </div>

                <div>
                    <ul class="navbar-nav ">
                        <li class="nav-item mx-2 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">
                                <span *ngIf="!compteClient">Mon compte </span>
                                <span *ngIf="compteClient"> <strong> {{compteClient.prenom}}</strong>  {{compteClient.nom}} </span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdown07">
                                <li *ngIf="!compteClient">
                                    <a class="dropdown-item text-dark" (click)="onSeConnecter() ">Se connecter</a>
                                </li>
                                <li *ngIf="!compteClient">
                                    <a class="dropdown-item text-dark" (click)="onCreerUnCompte() ">Créer un compte</a>
                                </li>
                                <li *ngIf="compteClient">
                                    <a class="dropdown-item text-dark" (click)="onDeconnexion()">Deconnexion</a>
                                </li>
                                <li *ngIf="compteClient">
                                    <a class="dropdown-item text-dark" (click)="onMonEspace()">Mon espace privé</a>
                                </li>


                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    </div>
</nav>