<!-- <div class="hblux">

    <div class="container lux mt-5 pt-5">
        <div class=" d-flex justify-content-center align-items-center flex-column">
            <h1>HBLUX </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia maxime pariatur nesciunt earum adipisci fugit ab, provident, officiis reiciendis eius debitis optio porro ratione quam blanditiis aliquam, quaerat at perferendis fuga neque amet
                eligendi officia! Iste perferendis eos recusandae cupiditate culpa facilis consectetur reiciendis! Voluptatem totam fuga doloremque tenetur hic iusto, earum adipisci velit qui fugit ut consequuntur quisquam quod assumenda perferendis amet
                suscipit placeat commodi.
            </p>
        </div>
    </div>
    <div class="container hbluxpresentation">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="description d-flex justify-content-center align-items-center flex-column">
                <h1>HBLUX Boutique vous présente</h1>
            <h2>Ensemble Jogging</h2>
                <p>
                    Spécial Fêtes pour les members ! Livraison standard gratuite et retours gratuits + période de retour prolongée à <strong> 60 jours!</strong> Pour toutes commandes passées entre
                    <strong>  le 24/12/2021 et le 24/01/2022</strong>
                </p>
                <a class="btn"> Pré-commander </a>

            </div>
            <div class="images">
                <img class="img-fluid" src="../../../../../assets/images/image5.jpeg" alt="...">
            </div>
        </div>
    </div>
</div>
 -->

<!-- <div class="container-fluid hblux-presentation">


    <div class="d-flex flex-column justify-content-center align-items-lg-center text-center">
        <h1 class="text-white"><i>HB LUX</i></h1>
        <p class="text-center text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam. Eaque tempore nam molestias veritatis tempora nihil. Placeat, inventore. Saepe ipsam ad labore enim facilis, sed rerum numquam? Provident, quisquam! Sed natus at tempore, ex
            fuga unde.</p>

    </div>
    <div class=" text-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center ">
                        <div class="description d-flex justify-content-center align-items-center flex-column">
                            <h1>HBLUX Boutique vous présente</h1>
                            <h2>Ensemble Jogging</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corrupti debitis adipisci sed. Eos incidunt ut, tempore tempora molestiae alias officiis maxime sunt neque deleniti!
                            </p>
                            <a class="btn"> Pré-commander </a>

                        </div>
                        <div class="images">
                            <img style="width: 50%;" src="../../../../../assets/images/basket.jpeg" alt="...">
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                            <h2>Heading</h2>
                            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img style="width: 50%;" src="../../../../../assets/images/whats/image3.jpeg" alt="...">
                </div>
            </div>
        </div>

    </div>
</div>
 -->


<div class="hblux">
    <div class="container">
        <div class="row mt-5">
            <div class="mt-5 pt-5">

            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
            <div class="row mt-5 pt-5">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center align-items-center flex-column lux">
                        <h1 class="text-center">Nouvelle Collection HBLUX </h1>
                        <p style="line-height: 2.5rem;" class="text-center">
                            Découvrez HBLUX comme jamais vu auparavant avec sa toute nouvelle collection, pour homme, femme, enfant.

                        </p>
                        <div class="d-flex justify-content-center align-items-center flex-row">
                            <a href="https://wa.me/message/ZDTML6ZAXXDEF1"> <button class="btn btn-sm btn-outline-danger"> Précommander </button> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>